.chatroom-container {
  border-radius: 10px;
  background-image: linear-gradient(to right top, #1a2330, #1c2533, #1e2836, #202b39, #1e293b);
  box-shadow: 0px 0px 19px 9px rgba(0,0,0,0.27);;
}

.chatroom {
  // border: 1px solid red;
  height: 60vh;
}

.messages {
  // border: 1px solid green;
}

.chat-sidebar {
  // border: 1px solid blue;
  max-height: 60vh;
  overflow: scroll;
}

.centered-title {
  text-align: center;
  color: white;
}

.centered-title a{
  text-decoration: none;
  color: white;
  opacity: 90%;
}
