.extended-navbar {
  background-color: #1E293B;
  position: relative;
  height: 100px;
}


.profile-photo {
  position: absolute;
  top: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
