<div class="col-md-3">
  <div class="card-buddies d-flex mb-3 text-align-center align-items-center rounded shadow p-3">
    <%= image_tag "avatar3.png", class: "card-avatar rounded-circle me-3" %>
    <div class="">
      <p class="m-0">Name</p>
      <small class="text-muted">Something</small>
    </div>
  </div>
</div>
