<div class="card p-3" style="max-width: 350px">
  <div class="row">
    <div class="col-2"><%= render "shared/avatar" %></div>
    <div class="col-8">Ping Pong Master</div> <!-- Placeholder -->
    <div class="col-2"><%= image_tag "table-tennis-paddle-ball-solid.svg"%></div>
  </div>

  <div>08/12/2023 --- 14:00 - 17:00</div> <!-- Placeholder -->

  <h4>Tennis Showdown for Beginners</h4> <!-- Placeholder -->
  <p>Calling all tennis enthusiasts, whether you're a seasoned player or just
  starting out, join us for an exciting afternoon of friendly competition and
  camaraderie. This event is perfect for beginners who want to practice their
  skills and improve their game in a fun and supportive environment
  </p> <!-- Placeholder -->

  <div>
    Spots
  </div>

  <div class="dflex">
    <div>03/05</div> <!-- Placeholder -->
    <div>
      <a href="#" class="btn btn-primary text-white">Join</a>
    </div>
  </div>
</div>
