<div class="cards-container-buddies">
      <div class="card-buddies">
        <%= image_tag "avatar3.png", class: "card-avatar" %>
        <div class="card-info">
          <p class="card-name">Name</p>
          <small class="opacity-75">Something</small>
        </div>
      </div>
      <!-- Add more cards as needed -->
</div>
