<div class="cards-container-buddies">
      <div class="card-buddies">
        <%= image_tag "avatar-placeholders/avatar2.png", class: "card-avatar" %>
        <div class="card-info">
          <p class="card-name">Javier Naido</p>
          <small class="opacity-75">Ex-Ping-Ponger</small>
        </div>
      </div>
      <!-- Add more cards as needed -->
</div>
