<div class="card p-3" style="max-width: 350px">
  <div class="row mt-3 align-items-center">
    <div class="col-2"><%= render "shared/avatar" %></div>
    <div class="col-8">Ping Pong Master</div> <!-- Placeholder -->
    <div class="col-2"><%= image_tag("icons/cycling.png", class: "avatar-icon") %></div>
  </div>

  <div class="mt-3 opacity-75">08/12/2023 --- 14:00 - 17:00</div> <!-- Placeholder -->

  <h4 class="mt-3">Tennis Showdown for Beginners</h4> <!-- Placeholder -->

  <p class="mt-3 opacity-75">Calling all tennis enthusiasts, whether you're a seasoned player or just
  starting out, join us for an exciting afternoon of friendly competition and
  camaraderie. This event is perfect for beginners who want to practice their
  skills and improve their game in a fun and supportive environment
  </p> <!-- Placeholder -->

  <div>
    Spots
  </div>

  <div class="dflex justify-content-between align-items-end">
    <div>03/05</div> <!-- Placeholder -->
    <div class="mt-3">
      <a href="#" class="btn btn-primary text-white">Join</a>
    </div>
  </div>
</div>
