<div class="card p-3" style="max-width: 350px">
  <div class="row">
    <div class="col-2">IMG</div>
    <div class="col-8">Name Namesson</div>
    <div class="col-2">Icon</div>
  </div>

  <div>Date</div>

  <h4><%= title %></h4>
  <p>Description</p>

  <div>
    Spots
  </div>

  <div class="dflex">
    <div>ppl</div>
    <div>
      <a href="#" class="btn btn-primary">Join</a>
    </div>
  </div>

</div>
