
<footer class="our-footer py-5 border-top" style="display: flex; align-items: center; justify-content: space-between;">

<!-- Inline content starts here -->
<div style="z-index: 1; display: flex; padding: 0 1rem;">
  <div class="me-auto">
    <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </div>

  <!-- Logo and © notice -->
  <div class="col mb-3" style="flex: 1 1 100%;">
    <%= image_tag("sportsbuddy_logo.png", alt: "Sports Buddy Logo", width: 200) %>
    <p class="Sport-Buddy">© Sport Buddy 2023</p>
  </div>
</div>

  <div style="display: flex; justify-content: center;">
  <div class="col mb-3">
    <h5>Follow us</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="https://www.instagram.com/your_username" class="d-inline nav-link p-0 text-body-secondary">Instagram</a></li>
      <li class="nav-item mb-2"><a href="https://www.facebook.com/your_username" class="d-inline nav-link p-0 text-body-secondary">Facebook</a></li>
      <li class="nav-item mb-2"><a href="https://twitter.com/your_username" class="d-inline nav-link p-0 text-body-secondary">Twitter</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Sport Buddy</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Phone (+351) 912 345 678 </a></li>
      <li class="nav-item mb-2">or send an email to <%= mail_to 'company@sportbuddy.com' %></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Activity with everybuddy!</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">Want to be part of the movement? <%= link_to 'Sign up!', new_user_registration_path %></li>
    </ul>
  </div>
</footer>
