<footer class="py-5 my-5 border-top" style="position: relative; overflow: hidden; display: flex; align-items: center; justify-content: space-between;">
  <div style="position: absolute; width: 100%; height: 100%; opacity:30%; background-image: url('<%= asset_path 'sport-active-part-erasmus-plus-crop.jpeg' %>'); background-repeat: no-repeat; background-position: center center; background-size: cover; z-index: -1;">
    <!-- This div is the background image -->
  </div>

  <!-- Inline content starts here -->
  <div style="z-index: 1; display: flex; width: 100%; padding: 0 1rem;">
    <!-- Logo and © notice -->
    <div class="col mb-3">
            <%= image_tag("sportsbuddy_logo.png", alt: "Sports Buddy Logo", width: 200 ) %>
      <p class="Sport-Buddy">© Sport Buddy 2023</p>
    </div>
    <div class="me-auto">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
    </div>

  <div style="display: flex; justify-content: center;">
  <div class="col mb-3">
    <h5>Follow us</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="https://www.instagram.com/your_username" class="d-inline nav-link p-0 text-body-secondary">Instagram</a></li>
      <li class="nav-item mb-2"><a href="https://www.facebook.com/your_username" class="d-inline nav-link p-0 text-body-secondary">Facebook</a></li>
      <li class="nav-item mb-2"><a href="https://twitter.com/your_username" class="d-inline nav-link p-0 text-body-secondary">Twitter</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Sport Buddy</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Phone (+351) 912 345 678</a></li>
      <li class="nav-item mb-2"><a href="mailto:company@sportbuddy.com" class="nav-link p-0 text-body-secondary">or send an email to company@sportbuddy.com</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Activity with everybuddy!</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Want to be part of the movement? Sign up!</a></li>
    </ul>
  </div>
</div>
</footer>
