<div class="pb-5">

<!-- HERO SECTION -->
<div class="container col-xl-10 col-xxl-8 px-4 py-5 w-100">
  <!-- TEXT BANNER -->
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3 title-shadowed">Making sports social, one match at a time</h1>
      <p class="col-lg-10 fs-4 shadowed">Ditch the solo workouts and embrace the power of teamwork with SportsBuddy, your gateway to a world of shared passions, newfound friendships, and exhilarating sporting experiences.</p>
    </div>

    <!-- RADAR -->
    <div class="col-md-10 mx-auto col-lg-5 radar-background">
      <%= render "shared/radar" %>
    </div>
  </div>
</div>
<div class="row container ms-auto me-auto d-flex justify-content-center mt-5">
    <%= render "shared/card"%>
</div>

</div>
