
.nav-link:hover {
  color: #cecece; /* Change the color to red when hovered */
  text-decoration: underline;/* Add underline when hovered */
}


@media (max-width: 768px) {
  .sb-full-width {
      width: 100%;
      margin-bottom: 1em;
  }
}

.sb-navbar {
  z-index: 2; // any value higher than the radar's z-index
  background-color: #1E293B;
}
