.custom-style-signup{
  background-color: #1E293B;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
  background-image: linear-gradient(to right top, #1a2330, #1c2533, #1e2836, #202b39, #1e293b);
}
